<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Main</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="main-style.css"> -->
        <!-- https://pythonhow.com/add-css-to-flask-website/ -->>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main-style.css') }}">
    </head>
    <body>
        <!-- Start of navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
            <a class="navbar-brand" href="#">
                <!-- <img src="images/square-logo.png" alt="logo"> -->
                <img src="{{ url_for('static', filename='images/square-logo.png') }}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="oops.html">Settings <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="login.html">Sign In / Register</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
        </nav>
        <!-- End of navbar -->

        <div class="container">
            <div class="row">
                <h1>Today's Recommended Recipes</h1>
                <h1>{{ test }}</h1>
            </div>
            <br><br>
            <!-- End of title -->

            {% for recipe in recipes %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="media">
                            <a href="{{ recipe.url }}"><img class="img-fluid" src="{{ recipe.image }}" alt="{{ recipe.label }}"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="{{ recipe.url }}"><h3>{{ recipe.label }} <hr class="red-div" /></h3></a>
                        <!-- <p>Good pancake recipe yum yum very tasty</p> -->
                        {% if recipe.healthLabels|length > 1 %}
                            <p><b>Health Labels: </b>
                                {% for healthLabel in recipe.healthLabels %}
                                    {{ healthLabel }}
                                {% endfor %}
                            </p>
                        {% endif %}
                        {% if recipe.cautions|length > 1 %}
                            <p><b>Cautions: </b>
                                {% for caution in recipe.cautions %}
                                    {{ caution }}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <br>   
            {% endfor %}

            <!--
            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <a href="recipe.html"><img class="img-fluid" src="images/chickpea-pancakes.jpg" alt="Chickpea Pancakes"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="recipe.html"><h3>Chickpea Pancakes With Greens and Cheese <hr class="red-div" /></h3></a>
                    <p>Good pancake recipe yum yum very tasty</p>
                </div>
            </div>
            <hr>
            <br>

            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <a href="recipe.html"><img class="img-fluid" src="images/chickpea-pancakes.jpg" alt="Chickpea Pancakes"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="recipe.html"><h3>Chickpea Pancakes With Greens and Cheese <hr class="red-div" /></h3></a>
                    <p>Good pancake recipe yum yum very tasty</p>
                </div>
            </div>
            <hr>
            <br>

            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <a href="recipe.html"><img class="img-fluid" src="images/chickpea-pancakes.jpg" alt="Chickpea Pancakes"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="recipe.html"><h3>Chickpea Pancakes With Greens and Cheese <hr class="red-div" /></h3></a>
                    <p>Good pancake recipe yum yum very tasty</p>
                </div>
            </div>
            <hr>
            <br>

            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <a href="recipe.html"><img class="img-fluid" src="images/chickpea-pancakes.jpg" alt="Chickpea Pancakes"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="recipe.html"><h3>Chickpea Pancakes With Greens and Cheese <hr class="red-div" /></h3></a>
                    <p>Good pancake recipe yum yum very tasty</p>
                </div>
            </div>
            <hr>
            <br>

            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <a href="recipe.html"><img class="img-fluid" src="images/chickpea-pancakes.jpg" alt="Chickpea Pancakes"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="recipe.html"><h3>Chickpea Pancakes With Greens and Cheese <hr class="red-div" /></h3></a>
                    <p>Good pancake recipe yum yum very tasty</p>
                </div>
            </div>
            <hr>
            <br>
            -->
            
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>